# Name: BigDataViewer
# Author: Tobias Pietzsch
# Version: 1.0.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>BigDataViewer, "Open XML/HDF5", bdv.ij.BigDataViewerPlugIn
Plugins>BigDataViewer, "Export Current Image as XML/HDF5", bdv.ij.ExportImagePlusPlugIn
Plugins>BigDataViewer, "Export Spim Sequence as XML/HDF5", bdv.ij.ExportSpimSequencePlugIn
Plugins>BigDataViewer, "Export Fused Sequence as XML/HDF5", bdv.ij.ExportSpimFusionPlugIn
Plugins>BigDataViewer, "Export CellVoyager dataset as XML/HDF5", bdv.ij.ExportCellVoyagerPlugIn
File>Import, "BigDataViewer...", bdv.ij.ImportPlugIn

#
# Plugins from the spimreconstructions ... they only work if the spimdata/bigdataviewer are present,
# hence we decided to put them here while the source code is in the spimreconstruction project
#
Plugins>Multiview Reconstruction, "Define Multi-View Dataset", spim.fiji.plugin.Define_Multi_View_Dataset
Plugins>Multiview Reconstruction, "Detect Interest Points for Registration", spim.fiji.plugin.Interest_Point_Detection
Plugins>Multiview Reconstruction, "Register Dataset based on Interest Points", spim.fiji.plugin.Interest_Point_Registration
Plugins>Multiview Reconstruction, "Fuse/Deconvolve Dataset", spim.fiji.plugin.Image_Fusion
Plugins>Multiview Reconstruction>Tools, "Apply Transformations", spim.fiji.plugin.Apply_Transformation
Plugins>Multiview Reconstruction>Tools, "Duplicate Transformations", spim.fiji.plugin.Duplicate_Transformation
Plugins>Multiview Reconstruction>Tools, "Display View", spim.fiji.plugin.Display_View
Plugins>Multiview Reconstruction>Tools, "Specify Calibration", spim.fiji.plugin.Specify_Calibration
Plugins>Multiview Reconstruction>Tools, "Visualize Detections", spim.fiji.plugin.Visualize_Detections
Plugins>Multiview Reconstruction>Tools, "Remove Detections by Distance", spim.fiji.plugin.ThinOut_Detections
Plugins>Multiview Reconstruction>Tools, "Remove Detections Interactively", spim.fiji.Interactive_Remove_Detections
Plugins>Multiview Reconstruction>Resave, "As HDF5", spim.fiji.plugin.resave.Resave_HDF5
Plugins>Multiview Reconstruction>Resave, "As TIFF", spim.fiji.plugin.resave.Resave_TIFF